img {
  display: inline;
  margin-left: auto;
  margin-right: none;
  max-width: 100%;

}
h1{
  text-align: center;
  color: #fc6316;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7500a8;
  text-align: center;
  font-size:16px;
}
li {
  display: inline-block;
}
a{
  display: block;
  padding: 8px;
  background-color:#7500a8;
  font-family: 'Roboto', sans-serif; 
}
li a{
  color: #ffffff;
  padding: 14px 16px;
  text-decoration:none;
}
img.resize{
  max-width:200px;
  max-height:200px;
}
.floatright{
  float: right;
  clear: right;
  margin-left: auto;
}

body{
  font-size: 30px;
  color:#fc6316;
  text-align: center;
}
