body{
  background-color: #efefef;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 10px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7500a8;
  text-align: center;
}
li {
  display: inline-block;
}
a{
  display: block;
  padding: 8px;
  background-color:#7500a8;
}
li a{
  color: #ffffff;
  padding: 14px 16px;
  text-decoration:none;
}
h1{
  color: #fc6316;
  font-size: 60px;
  text-align: center;
}
p{
text-align: center;
color: #7500a8;
font-family: sans-serif;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

@media {max-width: 500px} {
  h1{
    font-size: 600px;
  }
  a{
    font-size: 50px;
  }
}
